{% extends "layout_ui.njk" %}

{% block title %}radio{% endblock %}

{% block content %}
    <div class="j-container page-accordion">
        <header class="page-header">
            <div class="page-title">dataScroll</div>
            <div class="page-label">функция для скролла к элементам</div>
            <div class="page-import">import <span class="token string">{ dataScroll } from 'jcore-ui'</span>;</div>
            <div class="page-import">import <span class="token string">dataScroll from 'jcore-ui/bin/lib/utils/dataScroll'</span>;</div>
        </header>
        </header>
        <content class="page-content">
            <section class="page-section">
                <div class="page-section-header">Использование</div>
                <div class="page-section-label">Для браузеров, которые не поддерживают smoothscroll, необходимо будет добавить полифил smoothscroll-polyfill. Функцию полифил можно прокинуть первым аргументом</div>
                <div class="page-section-example">
                    <button data-scroll="section-target">scroll to target</button>

                    <section data-target-scroll="section-target" style="margin-top: 500px;">
                        section target
                    </section>
                </div>
                <div class="page-section-code">
<pre>
<code class="language-js">
import smoothscroll from 'smoothscroll-polyfill';

smoothscroll.polyfill();

dataScroll()

// ...

dataScroll(smoothscroll.polyfill)
</code>
</pre>
                </div>
                <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<button data-scroll="section-target">scroll to target</button>


<section data-target-scroll="section-target">
    section target
</section>
</script></code>
</pre>
                </div>
            </section>
        </content>
    </div>
{% endblock %}