{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@ui": "./node_modules/pobeda-ui/src/ui/js",
                "@utils": "./node_modules/pobeda-ui/src/ui/utils"
            }
        }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}