{% extends "layout_ui.njk" %}

{% block title %}accordion{% endblock %}

{% block content %}
    <div class="j-container page-accordion">
        <header class="page-header">
            <div class="page-title">Аккордеон</div>
            <div class="page-label">компонент аккордеона</div>
            <div class="page-import">@import <span class="token string">'node_modules/jcore-ui/lib/scss/components/accordion.scss'</span>;</div>
            <div class="page-import">import <span class="token string">{ Accordion } from 'jcore-ui'</span>;</div>
            <div class="page-import">import <span class="token string">Accordion from 'jcore-ui/bin/lib/components/Accordion'</span>;</div>
        </header>
        <content class="page-content">
            <div class="j-tabs" data-name="content">
                <div class="j-tabs-list">
                    <div class="j-tab" data-target="content1" data-active>Примеры и код</div>
                    <div class="j-tab" data-target="content2">Свойства и методы</div>
                </div>
                <div class="j-tab-wrapper">
                    <div class="j-tab-content" data-tab="content1" data-active>
                        <section class="page-section">
                            <div class="page-section-header">Использование</div>
                            {# <div class="page-section-label">
                            </div> #}
                            <div class="page-section-example">
                                <div class="j-accordion">
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон</div>
                                        <div class="j-accordion-content">Контент аккордеона</div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-js">
const accordions = new Accordion()

const accordion = new Accordion({
    $element: document.querySelector('[data-name="example"]')
})
</code>
</pre>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-accordion" data-name="example">
    <div class="j-accordion-panel">
        <div class="j-accordion-tab">Аккордеон</div>
        <div class="j-accordion-content">Контент аккордеона</div>
    </div>
</div>
</script></code>
</pre>
                            </div>
                        </section>

                        <section class="page-section">
                            <div class="page-section-header">Несколько панелей</div>
                            <div class="page-section-example">
                                <div class="j-accordion">
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон 1</div>
                                        <div class="j-accordion-content">Контент аккордеона 1</div>
                                    </div>
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон 2</div>
                                        <div class="j-accordion-content">Контент аккордеона 2</div>
                                    </div>
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон 3</div>
                                        <div class="j-accordion-content">Контент аккордеона 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-accordion">
    <div class="j-accordion-panel">
        <div class="j-accordion-tab">Аккордеон 1</div>
        <div class="j-accordion-content">Контент аккордеона 1</div>
    </div>
    <div class="j-accordion-panel">
        <div class="j-accordion-tab">Аккордеон 2</div>
        <div class="j-accordion-content">Контент аккордеона 2</div>
    </div>
    <div class="j-accordion-panel">
        <div class="j-accordion-tab">Аккордеон 3</div>
        <div class="j-accordion-content">Контент аккордеона 3</div>
    </div>
</div>
</script></code>
</pre>
                            </div>
                        </section>

                        <section class="page-section">
                            <div class="page-section-header">multiple</div>
                            <div class="page-section-example">
                                <div class="j-accordion" data-multiple="true">
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон 1</div>
                                        <div class="j-accordion-content">Контент аккордеона 1</div>
                                    </div>
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон 2</div>
                                        <div class="j-accordion-content">Контент аккордеона 2</div>
                                    </div>
                                    <div class="j-accordion-panel">
                                        <div class="j-accordion-tab">Аккордеон 3</div>
                                        <div class="j-accordion-content">Контент аккордеона 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-js">
new Accordion({
    options: {
        multiple: true
    }
})
</code>
</pre>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-accordion" data-multiple="true">
    ...
</div>
</script></code>
</pre>
                            </div>
                        </section>
                    </div>
                    <div class="j-tab-content" data-tab="content2">
                        <section class="page-section">
                            <div class="page-section-header">Свойства и методы</div>
                            <div class="page-section-example property">
                                <div class="j-table-responsive">
                                    <table class="j-table" data-border-bottom>
                                        <caption>Параметры (Accordion.options)</caption>
                                        <thead>
                                            <tr>
                                                <th>Название</th>
                                                <th>Значение по умолчанию</th>
                                                <th>Тип</th>
                                                <th>Описание</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>mount</td>
                                                <td>true</td>
                                                <td>boolean</td>
                                                <td>инициализация компонента</td>
                                            </tr>
                                            <tr>
                                                <td>name</td>
                                                <td>''</td>
                                                <td>string</td>
                                                <td>имя компонента</td>
                                            </tr>
                                            <tr>
                                                <td>active</td>
                                                <td>false</td>
                                                <td>boolean</td>
                                                <td>если true, то будет активной первая панель</td>
                                            </tr>
                                            <tr>
                                                <td>multiple</td>
                                                <td>false</td>
                                                <td>boolean</td>
                                                <td>если true, то панели не будут закрываться при нажатии на другую</td>
                                            </tr>
                                            <tr>
                                                <td>duration</td>
                                                <td>300</td>
                                                <td>number (ms)</td>
                                                <td>время, за которое будет открыта панель в мс</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="j-table-responsive">
                                    <table class="j-table" data-border-bottom>
                                        <caption>Обработчик событий (Accordion.on)</caption>
                                        <thead>
                                            <tr>
                                                <th>Название</th>
                                                <th>Значение по умолчанию</th>
                                                <th>Тип</th>
                                                <th>Описание</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>mount</td>
                                                <td>(ctx) =></td>
                                                <td>function</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>unmount</td>
                                                <td>(ctx) =></td>
                                                <td>function</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>toggle</td>
                                                <td>(ctx) =></td>
                                                <td>function</td>
                                                <td>срабатывает при переключение</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </content>
    </div>
{% endblock %}