<div class="j-container">
    <h2>Tooltips:</h2>

    <div class="j-grid">
        <div class="j-grid-item">
            <div class="j-tooltip">
                <div class="j-tooltip-header">Tooltip 1</div>
                <div class="j-tooltip-content">
                    <div class="j-tooltip-wrapper">
                        <div class="j-tooltip-arrow"></div>
                        wrapper 1
                    </div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-tooltip">
                <div class="j-tooltip-header">Tooltip 2</div>
                <div class="j-tooltip-content">
                    <div class="j-tooltip-wrapper">
                        <div class="j-tooltip-arrow"></div>
                        wrapper 2
                    </div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-dropdown" data-name="dropdown-1">
                <div class="j-dropdown-header">dropdown 1</div>
                <div class="j-dropdown-content">
                    <div class="j-dropdown-wrapper">
                        <div class="j-dropdown-arrow"></div>
                        <ul>
                            <li>dropdown-item-1</li>
                            <li>dropdown-item-2</li>
                            <li>dropdown-item-3</li>
                            <li>dropdown-item-4</li>
                            <li>dropdown-item-5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-dropdown" data-name="dropdown-2">
                <div class="j-dropdown-header">dropdown 2</div>
                <div class="j-dropdown-content">
                    <div class="j-dropdown-wrapper">
                        <div class="j-dropdown-arrow"></div>
                        <ul>
                            <li>dropdown-item-1</li>
                            <li>dropdown-item-2</li>
                            <li>dropdown-item-3</li>
                            <li>dropdown-item-4</li>
                            <li>dropdown-item-5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Tabs:</h2>

    <div class="j-grid">
        <div class="j-tabs" data-name="tabs-1">
            <div class="j-tabs-list">
                <div class="j-tab" data-target="content1">tab1</div>
                <div class="j-tab" data-target="content2">tab2</div>
            </div>
            <div class="j-tab-wrapper">
                <div class="j-tab-content" data-tab="content1">content1</div>
                <div class="j-tab-content" data-tab="content2">content2</div>
            </div>
        </div>
    </div>

    <h2>Accordion:</h2>

    <div class="j-grid">
        <div class="j-grid-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">Acc tab1</div>
                    <div class="j-accordion-content">Acc cont1</div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">Acc tab2</div>
                    <div class="j-accordion-content">Acc cont2</div>
                </div>
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">Acc tab3</div>
                    <div class="j-accordion-content">Acc cont3</div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">Acc tab3</div>
                    <div class="j-accordion-content">Acc cont3</div>
                </div>
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">Acc tab3</div>
                    <div class="j-accordion-content">Acc cont3</div>
                </div>
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">Acc tab3</div>
                    <div class="j-accordion-content">Acc cont3</div>
                </div>
            </div>
        </div>
    </div>
</div>