index page



<div class="j-container">
    <h2>Tooltips:</h2>

    <div class="j-grid">
        <div class="j-grid-item">
            <div class="j-tooltip">
                <div class="j-tooltip-header">Tooltip 1</div>
                <div class="j-tooltip-content">
                    <div class="j-tooltip-wrapper">
                        <div class="j-tooltip-arrow"></div>
                            wrapper 1
                        </div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-tooltip">
                <div class="j-tooltip-header">Tooltip 2</div>
                <div class="j-tooltip-content">
                    <div class="j-tooltip-wrapper">
                        <div class="j-tooltip-arrow"></div>
                            wrapper 2
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>