<div class="j-container">
    <h2>Tooltips:</h2>

    <div class="j-grid">
        <div class="j-grid-item">
            <div class="j-tooltip">
                <div class="j-tooltip-header">Tooltip 1</div>
                <div class="j-tooltip-content">
                    <div class="j-tooltip-wrapper">
                        <div class="j-tooltip-arrow"></div>
                        wrapper 1
                    </div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-tooltip">
                <div class="j-tooltip-header">Tooltip 2</div>
                <div class="j-tooltip-content">
                    <div class="j-tooltip-wrapper">
                        <div class="j-tooltip-arrow"></div>
                        wrapper 2
                    </div>
                </div>
            </div>
        </div>
        <div class="j-grid-item">
            <div class="j-dropdown">
                <div class="j-dropdown-header">dropdown 1</div>
                <div class="j-dropdown-content">
                    <div class="j-dropdown-wrapper">
                        <div class="j-dropdown-arrow"></div>
                        <ul>
                            <li>dropdown-item-1</li>
                            <li>dropdown-item-2</li>
                            <li>dropdown-item-3</li>
                            <li>dropdown-item-4</li>
                            <li>dropdown-item-5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>