{% extends "layout_ui.njk" %}

{% block content %}
    <div class="j-container page-grid">
        <header class="page-header">
                <div class="page-title">Сетка</div>
                <div class="page-label">Набор горизонтальных и вертикальных линий, создающих шаблон, по которому мы можем выстроить элементы дизайна.</div>
        </header>
        <content class="page-content">
            <section class="page-section">
                <div class="page-section-header">Правила использования.</div>
                <div class="page-section-label">Контейнер сетки указывается через .j-grid класс, колонки через .j-grid-item</div>
                <div class="page-section-example">
                    <div class="j-grid">
                        <div class="j-grid-item">Колонка 1</div>
                        <div class="j-grid-item">Колонка 2</div>
                        <div class="j-grid-item">Колонка 3</div>
                        <div class="j-grid-item">Колонка 4</div>
                    </div>
                </div>
                <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-grid">
    <div class="j-grid-item">Колонка 1</div>
    <div class="j-grid-item">Колонка 2</div>
    <div class="j-grid-item">Колонка 3</div>
    <div class="j-grid-item">Колонка 4</div>
</div>
</script></code>
</pre>
                </div>
            </section>

            <section class="page-section">
                <div class="page-section-header">Адаптиваня сетка.</div>
                <div class="page-section-label">Для адаптивной сетки для item указываются data аттрибуты - data-elg, data-lg, data-md, data-sm, data-xs и т.д.</div>
                <div class="page-section-example">
                    <div class="j-grid">
                        <div class="j-grid-item" data-elg="12">Колонка 1</div>
                        <div class="j-grid-item" data-elg="4" data-md="6" data-sm="12">Колонка 2</div>
                        <div class="j-grid-item" data-elg="4" data-md="6" data-sm="12">Колонка 3</div>
                        <div class="j-grid-item" data-elg="4" data-md="12">Колонка 4</div>
                    </div>
                </div>
                <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-grid">
    <div class="j-grid-item" data-elg="12">Колонка 1</div>
    <div class="j-grid-item" data-elg="4" data-lg="6" data-md="12">Колонка 2</div>
    <div class="j-grid-item" data-elg="4" data-lg="6" data-md="12">Колонка 3</div>
    <div class="j-grid-item" data-elg="4" data-lg="12">Колонка 4</div>
</div>
</script></code>
</pre>
                </div>
            </section>

            <section class="page-section">
                <div class="page-section-header">Горизонтальное и вертикальное выравнивание.</div>
                <div class="page-section-label">
                    <p>.j-grid</p></br>
                    <p>flex-direction - [data-dir='row|row-reverse|column|column-reverse']</p>
                    <p>justify-content - [data-jc='start|end|center|space-between|space-around']</p>
                    <p>align-items - [data-dir='start|end|center|baseline|stretch']</p>
                    <p>align-content - [data-dir='start|end|center|space-between|space-around|stretch']</p></br>
                    <p>.j-grid-item</p></br>
                    <p>align-self - [data-as='start|end|center|baseline|stretch']</p>
                </div>
                <div class="page-section-example">
                    <div class="j-grid" data-dir="column">
                        <div class="j-grid-item" data-as="center">Колонка 1</div>
                        <div class="j-grid-item" >Колонка 2</div>
                        <div class="j-grid-item">Колонка 3</div>
                        <div class="j-grid-item">Колонка 4</div>
                    </div>
                </div>
                <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-grid" data-dir="column">
    <div class="j-grid-item">Колонка 1</div>
    <div class="j-grid-item">Колонка 2</div>
    <div class="j-grid-item">Колонка 3</div>
    <div class="j-grid-item">Колонка 4</div>
</div>
</script></code>
</pre>
                </div>
            </section>
        </content>
    </div>
{% endblock %}