{% extends "layout_ui.njk" %}

{% block title %}accordion{% endblock %}

{% block content %}
    <div class="j-container page-accordion">
        <header class="page-header">
            <div class="page-title">Коллапс</div>
            <div class="page-label">компонент коллапса</div>
            <div class="page-import">@import <span class="token string">'node_modules/jcore-ui/lib/scss/components/collapse.scss'</span>;</div>
            <div class="page-import">import <span class="token string">{ Collapse } from 'jcore-ui'</span>;</div>
            <div class="page-import">import <span class="token string">Collapse from 'jcore-ui/bin/lib/components/Collapse'</span>;</div>
        </header>
        <content class="page-content">
            <div class="j-tabs" data-name="content">
                <div class="j-tabs-list">
                    <div class="j-tab" data-target="content1" data-active>Примеры и код</div>
                    <div class="j-tab" data-target="content2">Свойства и методы</div>
                </div>
                <div class="j-tab-wrapper">
                    <div class="j-tab-content" data-tab="content1" data-active>
                        <section class="page-section">
                            <div class="page-section-header">Использование</div>
                            {# <div class="page-section-label">
                            </div> #}
                            <div class="page-section-example">
                                <div class="j-collapse" data-name="collapse">
                                    <div class="j-collapse-wrapper">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quo minus quos nesciunt a. Doloremque, impedit ad? Quo minima quod blanditiis voluptatum officia, commodi excepturi nesciunt cum cumque voluptates distinctio exercitationem numquam qui nulla nam!
                                    </div>
                                    <div class="j-collapse-button">button collapse</div>
                                </div>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-js">
const collapses = new Collapse()

const collapses = new Collapse({
    $element: document.querySelector('[data-name="collapse"]')
})
</code>
</pre>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-collapse" data-name="collapse">
    <div class="j-collapse-wrapper">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class="j-collapse-button">button collapse</div>
</div>
</script></code>
</pre>
                            </div>
                        </section>

                        <section class="page-section">
                            <div class="page-section-header">Начальная высота</div>
                            {# <div class="page-section-label">
                            </div> #}
                            <div class="page-section-example">
                                <div class="j-collapse" data-name="collapse" data-height="21">
                                    <div class="j-collapse-wrapper">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quo minus quos nesciunt a. Doloremque, impedit ad? Quo minima quod blanditiis voluptatum officia, commodi excepturi nesciunt cum cumque voluptates distinctio exercitationem numquam qui nulla nam!
                                    </div>
                                    <div class="j-collapse-button">button collapse</div>
                                </div>
                            </div>
                            <div class="page-section-code">
<pre>
<code class="language-markup" type="text/plain"><script type="text/plain" class="language-markup">
<div class="j-collapse" data-name="collapse" data-height="21">
    // ...
</div>
</script></code>
</pre>
                            </div>
                        </section>
                    </div>
                    <div class="j-tab-content" data-tab="content2">
                        <section class="page-section">
                            <div class="page-section-header">Свойства и методы</div>
                            <div class="page-section-example property">
                                <div class="j-table-responsive">
                                    <table class="j-table" data-border-bottom>
                                        <caption>Параметры (Collapse.options)</caption>
                                        <thead>
                                            <tr>
                                                <th>Название</th>
                                                <th>Значение по умолчанию</th>
                                                <th>Тип</th>
                                                <th>Описание</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>mount</td>
                                                <td>true</td>
                                                <td>boolean</td>
                                                <td>инициализация компонента</td>
                                            </tr>
                                            <tr>
                                                <td>name</td>
                                                <td>''</td>
                                                <td>string</td>
                                                <td>имя компонента</td>
                                            </tr>
                                            <tr>
                                                <td>height</td>
                                                <td>0</td>
                                                <td>number (px)</td>
                                                <td>стартовая высота</td>
                                            </tr>
                                            <tr>
                                                <td>duration</td>
                                                <td>300</td>
                                                <td>number (ms)</td>
                                                <td>время в мс за которое откроется коллапс</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="j-table-responsive">
                                    <table class="j-table" data-border-bottom>
                                        <caption>Обработчик событий (Collapse.on)</caption>
                                        <thead>
                                            <tr>
                                                <th>Название</th>
                                                <th>Значение по умолчанию</th>
                                                <th>Тип</th>
                                                <th>Описание</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>mount</td>
                                                <td>(ctx) =></td>
                                                <td>function</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>unmount</td>
                                                <td>(ctx) =></td>
                                                <td>function</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>toggle</td>
                                                <td>(ctx) =></td>
                                                <td>function</td>
                                                <td>срабатывает при переключение</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </content>
    </div>
{% endblock %}