<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jcore-ui | kit</title>
</head>
<body data-menu>
    {% block menu %}
        {% include "components/menu.njk" %}
    {% endblock %}


    {% block content %}
        content
    {% endblock %}


    {% block footer %}
        <footer class="footer">
            <div class="j-container">
                <div class="footer-copyright">
                    © 2021 Eryomin Nickolay.
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>