<div class="menu" data-active>
    <div class="menu-content">
        <div class="menu-item">
            <div class="menu-link" data-href="/">Начало</div>
        </div>
        <div class="menu-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">
                        <div class="menu-link">Разметка</div>
                    </div>
                    <div class="j-accordion-content">
                        <div class="menu-link" data-href="/markup/grid">Сетка</div>
                        <div class="menu-link" data-href="/markup/container">Контейнер</div>
                        <div class="menu-link" data-href="/markup/button">Кнопка</div>
                        <div class="menu-link" data-href="/markup/input">Поля ввода</div>
                        <div class="menu-link" data-href="/markup/form">Форма</div>
                        <div class="menu-link" data-href="/markup/table">Таблица</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">
                        <div class="menu-link">Компоненты</div>
                    </div>
                    <div class="j-accordion-content">
                        <div class="menu-link" data-href="/components/accordion/">Аккордеон</div>
                        <div class="menu-link" data-href="/components/checkbox/">Чекбокс</div>
                        <div class="menu-link" data-href="/components/collapse/">Коллапс</div>
                        <div class="menu-link" data-href="/components/dropdown/">Выпадающий список</div>
                        <div class="menu-link" data-href="/components/tooltip/">Всплывающий список</div>
                        <div class="menu-link" data-href="/components/modal/">Модальное окно</div>
                        <div class="menu-link" data-href="/components/progress/">Индикатор</div>
                        <div class="menu-link" data-href="/components/radio/">Радиокнопки</div>
                        <div class="menu-link" data-href="/components/select/">Список</div>
                        <div class="menu-link" data-href="/components/spinner/">Спиннер</div>
                        <div class="menu-link" data-href="/components/tab/">Вкладки</div>
                        <div class="menu-link" data-href="/components/toggle/">Переключатель</div>
                        <div class="menu-link" data-href="/components/burger/">Бургер кнопка</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">
                        <div class="menu-link">Утилиты</div>
                    </div>
                    <div class="j-accordion-content">
                        <div class="menu-link">EventEmitter</div>
                        <div class="menu-link">canusewebp</div>
                        <div class="menu-link">cookie</div>
                        <div class="menu-link">createTemplate</div>
                        <div class="menu-link">dataHref</div>
                        <div class="menu-link">dataScroll</div>
                        <div class="menu-link">declension</div>
                        <div class="menu-link">digit</div>
                        <div class="menu-link">form</div>
                        <div class="menu-link">inScreen</div>
                        <div class="menu-link">isMobile</div>
                        <div class="menu-link">isTouchDevice</div>
                        <div class="menu-link">lazyLoad</div>
                        <div class="menu-link">loadImg</div>
                        <div class="menu-link">mask</div>
                        <div class="menu-link">numberFormat</div>
                        <div class="menu-link">waitFor</div>
                        <div class="menu-link">prototype</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="j-accordion">
                <div class="j-accordion-panel">
                    <div class="j-accordion-tab">
                        <div class="menu-link">Миксины</div>
                    </div>
                    <div class="j-accordion-content">
                        <div class="menu-link">aspect</div>
                        <div class="menu-link">button-color</div>
                        <div class="menu-link">fonts</div>
                        <div class="menu-link">gradient-hover</div>
                        <div class="menu-link">media</div>
                        <div class="menu-link">transition</div>
                        <div class="menu-link">visible</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-link">uikit</div>
        </div>
    </div>
    <div class="menu-toggle j-burger" data-active>
        <div class="j-burger-line"></div>
        <div class="j-burger-line"></div>
        <div class="j-burger-line"></div>
    </div>
</div>
{# <div class="menu-item" data-scroll="text">Шрифты</div>
        <div class="menu-item" data-scroll="colors">Цвета</div>
        <div class="menu-item" data-scroll="icons">Иконки</div>
        <div class="menu-item" data-scroll="grid">Сетка</div>
        <div class="menu-item" data-scroll="list">Списки</div>
        <div class="menu-item" data-scroll="table">Таблицы</div>
        <div class="menu-item" data-scroll="button">Кнопки</div>
        <div class="menu-item" data-scroll="form">Элементы форм</div>
        <div class="menu-item" data-scroll="slider">Ползунок</div>
        <div class="menu-item" data-scroll="modal">Модальные окна</div>
        <div class="menu-item" data-scroll="tooltip">Всплывающий список</div>
        <div class="menu-item" data-scroll="dropdown">Выпадающий список</div>
        <div class="menu-item" data-scroll="simplebar">Скроллбар</div>
        <div class="menu-item" data-scroll="accordion">Аккордеон</div>
        <div class="menu-item" data-scroll="collapse">Коллапс</div>
        <div class="menu-item" data-scroll="tabs">Табы</div>
        <div class="menu-item" data-scroll="swiper">Карусель</div>
        <div class="menu-item" data-scroll="photoswipe">Фотогаллерея</div>
        <div class="menu-item" data-scroll="loader">Спиннеры, прелодеры, индикаторы</div>
        <div class="menu-item" data-scroll="map">Карта</div>
        <div class="menu-item" data-scroll="components">Компоненты</div> #}